@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$h1Size : 75px;
$h2Size : 62px;
$h2SuperLightSize: 23px;

$mainBrightBlue: #0991CC;

:root{
    font-family: "Outfit", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

img{
    max-width: 100%;
    margin: 0;
}

.flex{
    display: flex;

    &.center{
        justify-content: center;
    }
    &.spaceAround{
        justify-content: space-around;
    }
    &.column{
        flex-direction: column;
    }
}

body, html{
    margin: 0;
}

@mixin whiteBackground{
    padding: 10px;
    border-radius: 6.88px;
    font-weight: 600;
    font-size: 17px;
    width: 168px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);   
}

.buttonWhiteBackground{
    @include whiteBackground;
}

button{
    &.whiteBackground{
        @include whiteBackground;
    }

    &.GreenBackground{
        @include whiteBackground;
        background-color: #C8FF1C;
    }

    &.halfDarkBlueBackground{
            padding: 10px;
            border-radius: 6.88px;
            font-weight: 600;
            font-size: 17px;
            width: 168px;
            border: none;
            background-color: #526da0;
            color: rgb(255, 255, 255);

            &.rounded{ border-radius: 20px; }
    }
}

input, textarea {
    @include whiteBackground;
}

header {
    
    display: flex;
    width: 100%;
    height: 120px;
    background-color: white;
    position: fixed;

    justify-content: space-around;
    align-self: center;
    align-items: center;

    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);

    z-index: 1000;

    .logo{
        width: 100px;
        height: 100px;
    }

    ul{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin: 10px;
        padding: 10px;
        gap: 15px;
        font-weight: 600;

        li{
            padding: 2px 5px;
            transition: 0.2s all linear;

            &:hover {
                background-color: $mainBrightBlue;
                transition: 0.2s all linear;
                color: white;
                cursor: pointer;
            }
        }

        &:after{
            content: '';
            display: block;
            width: calc(100% - 20px);
            height: 3px;
            background-color: $mainBrightBlue;
            margin: 10px 0;
            bottom: -3px;
            position: absolute;
        }
    }
}

section.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh + 120px);
    
    position: relative;

    // 

    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 120px;
        left: 0;
        background-image: url('/img/banner/bordasLateraisAzuis.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 120px;
        left: 0;
        background-image: url('/img/banner/caminhoVerde.png');
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .busCut{
        position: relative;
        height: 410.85px;
        // border: 1px solid rgba(0, 0, 0, 0.31);
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
    }

    .flexBannerEtco{
        gap: 120px;
        align-items: center;
        $correctingMarginSpace: 4px;

        h1{
            font-size: $h1Size;
            font-weight: 700;
            text-align: justify;
            margin: 0;
            line-height: 48px;
        }
        h2{
            font-size: $h2SuperLightSize;
            font-weight: 300;
            text-align: justify;
            width: 315px;
            margin-left: $correctingMarginSpace;
        }

        button{
            margin-left: $correctingMarginSpace;
        }

        .sideRBanner{
            .textosBanner{
                gap: 17px;
            }
        }
    }

}


section.services{
    min-height: 400px;

    h2:nth-of-type(1){
        text-align: center;
        font-size: 62px;
        margin-top: -15px;
        margin-bottom: 70px;
    }       

    img.bordaSupServices{
        width: 100%;        
    }

    div.servicesDiv{
        display: flex;
        justify-content: space-evenly;
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url('/img/services/poligonoServiços.svg');
            background-repeat: repeat;
            z-index: -1;
            top: -64px;
            background-size: auto;
        }
    }

    article.serviceComponent{
        background-color: $mainBrightBlue;
        color: white;
        border-radius: 6px 6px 13px 13px;
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: center;
        $gap: 25px;
        gap: $gap;
        width: 260px;
        min-height: calc(360px + $gap);
        text-align: center;
        flex

        img{
            position: relative;
            top: 0;
        }

        h5{
            font-weight: 400;
            width: 230px;
        }

        button{
            font-weight: 500;
        }
    }

    img.montanhaServices{
        margin-top: 9px;
        width: 100%;
    }
}

section.contact{
    background-image: url("/img/contact/contactBanner.png");
    display: block;
    background-size: 100%;
    min-height: 542px;
    background-repeat: no-repeat;
    margin-top: -4px;
    color: white;
    text-align: center;
    padding-top: 75px;

    div.flex.central{
        margin-top: 25px;
        align-items: center;
    }

    h2{
        font-size: $h2Size;
        margin-top: 15px;
    }

    .contactL{
        display: flex;
        flex-direction: column;
        text-align: center;

        h3 {    
            width: 250px;
            font-weight: 400;
        }

        div.redesSociais{
            justify-content: space-around;
            text-align: center;

            .redeSocialContact{
                display: flex;
                justify-content: center;
                background-color: rgba( 86, 162, 213, 0.2);
                width: fit-content;
                height: fit-content;
                padding: 9px;       
                border-radius: 18px;
            }

            img{
                width: 37px;
            }
        }
    }

    .contactR{
        width: 400px;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        input, textarea {
            font-weight: 400;
            width: 100%;
        }

        .enviarContactButton{
            font-weight: 600;
        }

        div.flex{
            width: 100%;
            gap: 10px;
            align-items: center;
            justify-content: center;

            input {
                margin: 0;
            }
        }
    }
}

section.aboutUs{
    text-align: center;
    margin-top: -4px;
    h2{
        font-size: $h2Size;
        margin-top: 15px;
        margin-bottom: 27px;
    }
    h3{
        font-size: 25px;
    }

    .aboutUsL, .aboutUsR{
        width: 500px;
    }

    .aboutUsR{
        h3{
            text-align: center;
        }

        text-align: justify;
    }
}

footer{
    position: relative;
    
}