@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$h1Size : 75px;
$h2Size : 62px;
$h2SuperLightSize: 23px;

$mainBrightBlue: #0991CC;

:root{
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

img{
    max-width: 100%;
    margin: 0;
}

.flex{
    display: flex;

    &.center{
        justify-content: center;
    }
    &.spaceAround{
        justify-content: space-around;
    }
    &.column{
        flex-direction: column;
    }
}

body, html{
    margin: 0;
    height: 100%;
}

button{
    cursor: pointer;
}

input[type="submit"]{
    cursor: pointer;
}

#services,  #aboutUs{
    scroll-margin-top: 120px;
}

#contact{
    scroll-margin-top: 250px;
}

@mixin whiteBackground{
    padding: 10px;
    border-radius: 6.88px;
    font-weight: 600;
    font-size: 17px;
    width: 168px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);   
}

.buttonWhiteBackground{
    @include whiteBackground;
}

button{
    &.whiteBackground{
        @include whiteBackground;
    }

    &.GreenBackground{
        @include whiteBackground;
        background-color: #C8FF1C;
    }

    &.halfDarkBlueBackground{
            padding: 10px;
            border-radius: 6.88px;
            font-weight: 600;
            font-size: 17px;
            width: 168px;
            border: none;
            background-color: #526da0;
            color: rgb(255, 255, 255);

            &.rounded{ border-radius: 20px; }
    }
}

input, textarea {
    @include whiteBackground;
}

header {
    
    display: flex;
    width: 100%;
    height: 120px;
    background-color: white;
    position: fixed;

    justify-content: space-around;
    align-self: center;
    align-items: center;

    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);

    z-index: 1000;

    .logo{
        width: 100px;
        height: 100px;

        @media (min-width: 320px){
            width: 75px;
            height: 75px;
        }

        @media (min-width: 1200px){
            width: 100px;
            height: 100px;
        }
    }
    nav{
        
        @media (min-width: 320px){
            position: absolute;
            top: 120px;
            min-height: calc(100svh - 120px);
            background-color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;      
            left: -100%;      
            transition: all 1.2s;
        }

        @media (min-width: 1200px){
            display: block;
            position: static;
            width: unset;
            background-color: unset;
            min-height: unset;
        }

        &.mostrar{
            left: 0;
            transition: all 1.2s;
        }
        
    }

    .menuIcon{
        transition: all 0.2s;

        @media (min-width: 320px){
            display: block;
            transform: scale(2.5);
        }

        @media (min-width: 1200px){
            display: none;
        }

        &:hover{
            cursor: pointer;
            transform: scale(2.75);
            transition: all 0.2s;
        }
    }

    ul{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin: 10px;
        padding: 10px;
        gap: 15px;
        font-weight: 600;

        @media (min-width: 320px){
            flex-direction: column;
            gap: 20px;
        }

        @media (min-width: 1200px){
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        li{
            padding: 2px 5px;
            transition: 0.2s all linear;

            &:hover {
                background-color: $mainBrightBlue;
                transition: 0.2s all linear;
                color: white;
                cursor: pointer;
            }
        }

        &:after{
            content: '';
            display: block;
            width: calc(100% - 20px);
            height: 3px;
            background-color: $mainBrightBlue;
            margin: 10px 0;
            bottom: -3px;
            position: absolute;
        }
    }
}

.afterHeader{
    display: block;
    height: 120px;
}

section.banner{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh);    

    position: relative;

    

    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        // top: 120px;
        left: 0;
        background-image: url('/img/banner/bordasLateraisAzuis.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        // top: 120px;
        left: 0;
        background-image: url('/img/banner/caminhoVerde.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .bordasAzuis{
        position: absolute;
        // top: $topHeader;
        width: 100%;
        z-index: -1;
    }

    .caminhoVerde{
        position: absolute;
        // top: $topHeader;
        width: 100%;
        z-index: -1;
    }

    .busCut{
        position: relative;
        height: 410.85px;
        // border: 1px solid rgba(0, 0, 0, 0.31);
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
    }

    .flexBannerEtco{
        gap: 120px;
        align-items: center;
        $correctingMarginSpace: 4px;

        h1{
            font-size: $h1Size;
            font-weight: 700;
            text-align: justify;
            margin: 0;
            line-height: 48px;
        }
        h2{
            font-size: $h2SuperLightSize;
            font-weight: 300;
            text-align: justify;
            width: 315px;
            margin-left: $correctingMarginSpace;
        }

        button{
            margin-left: $correctingMarginSpace;
        }

        .sideRBanner{
            .textosBanner{
                gap: 17px;
            }
        }
    }

}


section.services{
    min-height: 400px;

    h2:nth-of-type(1){
        text-align: center;
        font-size: 62px;
        margin-top: -15px;
        margin-bottom: 70px;
    }       

    img.bordaSupServices{
        width: 100%;        
    }

    .montanhaServicesFinal{
        width: 100%;
        margin-top: 30px;
    }

    div.servicesDiv{
        display: flex;
        justify-content: space-evenly;
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url('/img/services/poligonoServiços.svg');
            background-repeat: repeat;
            z-index: -1;
            top: -64px;
            background-size: auto;
        }
    }

    article.serviceComponent{
        background-color: $mainBrightBlue;
        color: white;
        border-radius: 6px 6px 13px 13px;
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: center;
        $gap: 25px;
        gap: $gap;
        width: 260px;
        min-height: calc(360px + $gap);
        text-align: center;
        flex

        img{
            position: relative;
            top: 0;
        }

        h5{
            font-weight: 400;
            width: 230px;
        }

        button{
            font-weight: 600;
        }
    }

    img.montanhaServices{
        margin-top: 9px;
        width: 100%;
    }
}

section.contact{
    background-image: url("/img/contact/contactBanner.png");
    display: block;
    background-size: 100%;
    min-height: 542px;
    background-repeat: no-repeat;
    margin-top: -4px;
    color: white;
    text-align: center;
    padding-top: 75px;

    div.flex.central{
        margin-top: 25px;
        align-items: center;
    }

    h2{
        font-size: $h2Size;
        margin-top: 15px;
    }

    .contactL{
        display: flex;
        flex-direction: column;
        text-align: center;

        h3 {    
            width: 250px;
            font-weight: 400;
        }

        div.redesSociais{
            justify-content: space-around;
            text-align: center;

            .redeSocialContact{
                display: flex;
                justify-content: center;
                background-color: rgba( 86, 162, 213, 0.2);
                width: fit-content;
                height: fit-content;
                padding: 9px;       
                border-radius: 18px;
            }

            img{
                width: 37px;
            }
        }
    }

    .contactR{
        width: 400px;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        input, textarea {
            font-weight: 400;
            width: 100%;
        }

        .enviarContactButton{
            font-weight: 600;
        }

        div.flex{
            width: 100%;
            gap: 10px;
            align-items: center;
            justify-content: center;

            input {
                margin: 0;
            }
        }
    }
}

section.aboutUs{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: -8px;

    .topWaveAboutUs{
        width: 100%;
        margin-top: -1px;
    }
    h2{
        font-size: $h2Size;
        margin-top: 15px;
        margin-bottom: 27px;
    }
    h3{
        font-size: 25px;
    }

    
    .central{
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
        height: fit-content;
        width: auto;
        background-image: url('/img/aboutUs/lineBehind.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .aboutUsL, .aboutUsR{
        width: 500px;
    }

    .aboutUsL{
        position: relative;
        min-width: fit-content;
        min-height: fit-content;

        &:before{
            content: "";
            background-image: url('/img/aboutUs/bolinhasBehind.png');
            background-position: center;
            background-size: 99%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            width: 120%;
            height: 120%;
            z-index: -1;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        

        img{
            width: 493px;
        }
    }

    .aboutUsR{
        h3{
            margin-top: -30px;
            text-align: center;
        }

        p {
            line-height: 30px;
        }

        text-align: justify;
    }

    .porqueNosEscolher{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 60px;
    }

    .flex.vantagens{
        justify-content: space-evenly;

        .vantagem{
            h4:nth-of-type(1){
                font-weight: 900;
            }

            p{
                font-weight: 600;
            }

            h3, h4{
                color: #0991CC;
                text-align: center;
            }

            h4, p{
                width: 260px;
            }

            h4{
                font-size: 25px;
            }
        }

        margin-bottom: 30px;
    }

    button{
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    
}

.footerTopWave{
    margin-top: -5px;
}

footer{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;

    .UlMenu li {
        text-transform: lowercase;
    }
    

    .footerItems{
        display: flex;
        flex-direction: row;
        gap: 45px;
        align-items: center;

        h5{
            font-weight: 700;
            font-size: 18px;
        }

        .menuFooter, .contactFooter, .socialFooter{
            flex-direction: column;
            text-align: center;

            li{
                list-style: none;
            }
        }

        .redesSociais.footer{
            display: flex;
            flex-direction: row;
            gap: 8px;
            justify-content: center;

            .redeSocialContact{
                width: 26px;
                height: 26px;
            }    
        }
        
    }

    .logo{
        width: 100px;
        height: 100px;
    }
    padding: 25px 0 45px 0;
}