@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

img {
  max-width: 100%;
  margin: 0;
}

.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}
.flex.spaceAround {
  justify-content: space-around;
}
.flex.column {
  flex-direction: column;
}

body, html {
  margin: 0;
}

.buttonWhiteBackground {
  padding: 10px;
  border-radius: 6.88px;
  font-weight: 600;
  font-size: 17px;
  width: 168px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

button.whiteBackground {
  padding: 10px;
  border-radius: 6.88px;
  font-weight: 600;
  font-size: 17px;
  width: 168px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
button.GreenBackground {
  padding: 10px;
  border-radius: 6.88px;
  font-weight: 600;
  font-size: 17px;
  width: 168px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  background-color: #C8FF1C;
}
button.halfDarkBlueBackground {
  padding: 10px;
  border-radius: 6.88px;
  font-weight: 600;
  font-size: 17px;
  width: 168px;
  border: none;
  background-color: #526da0;
  color: rgb(255, 255, 255);
}
button.halfDarkBlueBackground.rounded {
  border-radius: 20px;
}

input, textarea {
  padding: 10px;
  border-radius: 6.88px;
  font-weight: 600;
  font-size: 17px;
  width: 168px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: white;
  position: fixed;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
header .logo {
  width: 100px;
  height: 100px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
  gap: 15px;
  font-weight: 600;
}
header ul li {
  padding: 2px 5px;
  transition: 0.2s all linear;
}
header ul li:hover {
  background-color: #0991CC;
  transition: 0.2s all linear;
  color: white;
  cursor: pointer;
}
header ul:after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: 3px;
  background-color: #0991CC;
  margin: 10px 0;
  bottom: -3px;
  position: absolute;
}

section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh + 120px);
  position: relative;
}
section.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 120px;
  left: 0;
  background-image: url("/img/banner/bordasLateraisAzuis.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
section.banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 120px;
  left: 0;
  background-image: url("/img/banner/caminhoVerde.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
section.banner .busCut {
  position: relative;
  height: 410.85px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
}
section.banner .flexBannerEtco {
  gap: 120px;
  align-items: center;
}
section.banner .flexBannerEtco h1 {
  font-size: 75px;
  font-weight: 700;
  text-align: justify;
  margin: 0;
  line-height: 48px;
}
section.banner .flexBannerEtco h2 {
  font-size: 23px;
  font-weight: 300;
  text-align: justify;
  width: 315px;
  margin-left: 4px;
}
section.banner .flexBannerEtco button {
  margin-left: 4px;
}
section.banner .flexBannerEtco .sideRBanner .textosBanner {
  gap: 17px;
}

section.services {
  min-height: 400px;
}
section.services h2:nth-of-type(1) {
  text-align: center;
  font-size: 62px;
  margin-top: -15px;
  margin-bottom: 70px;
}
section.services img.bordaSupServices {
  width: 100%;
}
section.services div.servicesDiv {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
section.services div.servicesDiv::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/img/services/poligonoServiços.svg");
  background-repeat: repeat;
  z-index: -1;
  top: -64px;
  background-size: auto;
}
section.services article.serviceComponent {
  background-color: #0991CC;
  color: white;
  border-radius: 6px 6px 13px 13px;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
  width: 260px;
  min-height: 385px;
  text-align: center;
}
section.services article.serviceComponent flex img {
  position: relative;
  top: 0;
}
section.services article.serviceComponent h5 {
  font-weight: 400;
  width: 230px;
}
section.services article.serviceComponent button {
  font-weight: 500;
}
section.services img.montanhaServices {
  margin-top: 9px;
  width: 100%;
}

section.contact {
  background-image: url("/img/contact/contactBanner.png");
  display: block;
  background-size: 100%;
  min-height: 542px;
  background-repeat: no-repeat;
  margin-top: -4px;
  color: white;
  text-align: center;
  padding-top: 75px;
}
section.contact div.flex.central {
  margin-top: 25px;
  align-items: center;
}
section.contact h2 {
  font-size: 62px;
}
section.contact .contactL {
  display: flex;
  flex-direction: column;
  text-align: center;
}
section.contact .contactL h3 {
  width: 250px;
  font-weight: 400;
}
section.contact .contactL div.redesSociais {
  justify-content: space-around;
  text-align: center;
}
section.contact .contactL div.redesSociais .redeSocialContact {
  display: flex;
  justify-content: center;
  background-color: rgba(86, 162, 213, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 9px;
  border-radius: 18px;
}
section.contact .contactL div.redesSociais img {
  width: 37px;
}
section.contact .contactR {
  width: 400px;
}
section.contact .contactR form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
section.contact .contactR input, section.contact .contactR textarea {
  font-weight: 400;
  width: 100%;
}
section.contact .contactR .enviarContactButton {
  font-weight: 600;
}
section.contact .contactR div.flex {
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
section.contact .contactR div.flex input {
  margin: 0;
}

section.aboutUs {
  margin-top: -4px;
}