@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

img {
  max-width: 100%;
  margin: 0;
}

.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}
.flex.spaceAround {
  justify-content: space-around;
}
.flex.column {
  flex-direction: column;
}

body, html {
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: white;
  position: fixed;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
header .logo {
  width: 100px;
  height: 100px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
  gap: 15px;
  font-weight: 600;
}
header ul li {
  padding: 2px 5px;
  transition: 0.2s all linear;
}
header ul li:hover {
  background-color: #0991CC;
  transition: 0.2s all linear;
  color: white;
  cursor: pointer;
}
header ul:after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: 3px;
  background-color: #0991CC;
  margin: 10px 0;
  bottom: -3px;
  position: absolute;
}

section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
section.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120px;
  left: 0;
  background-image: url("../../public/img/banner/bordasLateraisAzuis.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
section.banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120px;
  left: 0;
  background-image: url("../../public/img/banner/caminhoVerde.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
section.banner .busCut {
  position: relative;
  height: 410.85px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
}
section.banner .flexBannerEtco {
  gap: 120px;
  align-items: center;
}
section.banner .flexBannerEtco h1 {
  font-size: 75px;
  font-weight: 700;
  text-align: justify;
  margin: 0;
  line-height: 48px;
}
section.banner .flexBannerEtco h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: justify;
  width: 410px;
  margin-left: 25px;
}
section.banner .flexBannerEtco button {
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  width: 237px;
}
section.banner .flexBannerEtco .sideRBanner .textosBanner {
  gap: 9px;
}